body{
    background:url("http://cdn.shopify.com/s/files/1/0672/1531/files/Screen_Shot_2017-02-28_at_2.10.46_PM_large.png?v=1488320003");
    background-repeat: no-repeat;
    background-size:cover;
}
